/* main{
    background: linear-gradient(hsl(76deg 56% 46%) -4%, hsl(0deg 0% 100%) 46%);
} */

.nosotros__subtitle {
    font-size: 1.8rem;
    padding-bottom: 1rem;
}


.historia__data-title {
    color: var(--first-color);
}

/* .historia__title {
    font-weight: 500;
    font-size: var(--biggest-font-size);
    margin-bottom: 0rem;
     background-color: #ffffff9e; 
    margin-top: 5px;
    width: 400px;
    padding-left: 1rem;
} */

.historia__title h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0rem;
    /* background-color: #8e0b727d; */
    /* margin-top: 5px; */
    /* width: 600px; */
    text-align: center;
    /* padding-left: 1rem; */
    color: aliceblue;
}

.historia__title p {
    font-size: 0.8rem !important;
    color: aliceblue;
}

.historia__title span {
    color: var(--first-color);
}

.historia__description {
    margin-bottom: 2rem;
}


.nosotros {
    gap: 0;
}


.nosotros__content {
    position: relative;
}


.nosotros__data-title {
    color: var(--first-color);
}

/* .nosotros__title {
     text-align: center;
     font-weight: 900; 
     font-size: var(--h1-font-size); 
  margin-bottom: 1.5rem;
} */

.nosotros__title span {
    color: var(--first-color);
}

.nosotros__description {
    color: #404e18;
    margin-bottom: 2rem;
    text-align: justify;
    font-size: 0.8rem;
}

@media screen and (max-width: 320px) {
    .equipo__content {
        grid-template-columns: repeat(1, 140px) !important;
    }
}

@media screen and (max-width: 576px) {
    .fs-1-5rem {
        font-size: 1.5rem !important;
    }
}

@media screen and (min-width: 576px) {
    .equipo__content {
        grid-template-columns: repeat(3, 150px) !important;
        column-gap: 2rem !important;
    }

    .equipo__content img {
        margin-bottom: 10px !important;
        height: 150px !important;
        width: 150px !important;
    }

    .nosotros__subtitle {
        font-size: 3rem;
    }

    .nosotros__description {
        font-size: 1.2rem;
    }

    .equipo__container h2 {
        font-size: 1.8rem !important;
    }

}

@media screen and (min-width: 767px) {

    .section__nosotros {
        padding: 4rem 6rem 0rem 6rem !important;
    }

    .equipo__content {
        column-gap: 5rem !important;
    }

    .equipo__content h3{
        font-size: 1rem !important;
    }
    
    .equipo__content p{
        font-size: 0.8rem !important;
    }
}

/* For large devices */
@media screen and (min-width: 1040px) {

    .home__content {
        max-width: 400px;
        margin-right: 7rem;
        margin-left: auto;
    }

    .historia__title h1 {
        font-size: 5rem;
    }

    .historia__title p {
        font-size: 1.2rem !important;
    }

    .equipo__content h3{
        font-size: 1.2rem !important;
    }
    
    .equipo__content p{
        font-size: 1rem !important;
    }

    .equipo__content img {
        margin-bottom: 10px !important;
        height: 190px !important;
        width: 190px !important;
    }

    .equipo__content {
        grid-template-columns: repeat(4, 190px) !important;
        column-gap: 2.5rem !important;
    }
}


@media screen and (min-width: 1200px) {



    .nosotros__data {
        padding-top: 3rem;
    }

    .nosotros__title {
        margin-bottom: 2rem;
    }

    .nosotros__description {
        margin-bottom: 1rem;
    }

    .nosotros__scroll {
        width: 130px;
    }

    .equipo__content {
        grid-template-columns: repeat(4, 230px) !important;
        column-gap: 4rem !important;
    }

    .nosotros__button {
        padding: 1rem 1.75rem !important;
        font-size: var(--normal-font-size) !important;
    }
}




/* Alternative code, for larger screens */
@media screen and (min-width: 1700px) {
    .nosotros {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }


}

.equipo__container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.equipo__container h2 {
    font-size: 1.2rem;
}

.equipo__content {
    grid-template-columns: repeat(2, 135px);
    column-gap: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    /* background-color: aqua; */
}

.equipo__content img {
    margin-bottom: 5px;
    height: 135px;
    width: 135px;
    object-fit: cover;
    border-radius: 2%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.equipo__content img:hover {
    transition: .5s;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 43%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.equipo__content p {
    color: #6e6e6eec;
}

.nosotros__button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.5rem 0.8rem;
    border-radius: .25rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.nosotros__button:hover {
    cursor: pointer;
}

.section__nosotros {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
}



.equipo__content h3{
    font-size: 0.8rem;
}

.equipo__content p{
    font-size: 0.7rem;
}